@if (itemCount > 0) {
<h2 class="ms-3 mt-3 border-start border-4 border-primary ps-3">{{ categoryName }}</h2>
<div class="row mx-3 mt-3 g-3">
  @for (item of items; track $index) {
  <div class="col-lg-3 col-md-4 col-sm-12" [routerLink]="['/items', item.id]">
    <app-item [item]="item" />
  </div>
  }
</div>
} @else {
<app-no-product>
  
  <i class="bi bi-bag display-1 text-secondary" icon></i>
  <span title>No Products Available</span>
  <span message
    >Sorry! There are no products to display at the moment. Please check back
    later.</span
  >
</app-no-product>
}
