<div class="container my-3">
    <div class="card card-body shadow-sm">
        <div class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>Test Name</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>Test Name</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>Test Name</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>Test Name</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
    
