<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 80px;">
  <div class="card shadow-lg p-4" style="width: 400px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center mb-4 text-primary">Please Login!</h2>

      <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter Email" />
      </div>

      <div class="form-group mb-3">
        <label>Password</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter password" formControlName="password" />
          <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
            <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>
      </div>

      <div class="text-danger mb-2" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
